<!DOCTYPE html>
<html>
    <head>
        <title>Homepage SportID</title>
        <style>
            body{
                margin: 0%;
                background-color: #E5E5E5;
            }
            @font-face{
                font-family: Montserrat;
                src: url('./Montserrat-Bold.ttf');
            }
        </style>
        <link rel="stylesheet" type="text/css" href="homepageLight.css" />
    </head>

    <body>
        <div class="navbar-tray">
            <div class="logo">
                <img src="logo_light_mode.svg">
            </div>
    
            <%# highlight category tray request direct page sesuai kategori %>
            <div class="highlight-ctgr">
                <button class="highlight-ctgr-items"> Sepak Bola </button>
                <button class="highlight-ctgr-items"> Bulutangkis </button>
                <button class="highlight-ctgr-items"> Basket </button>
                <select id="select-sizing">
                    <option selected hidden> Lainnya </option>
                    <option value="1"> Voli </option>
                    <option value="2"> Panahan </option>
                    <option value="3"> Renang </option>
                    <option value="4"> Bela Diri </option>
                    <option value="5"> Angkat Besi </option>
                    <option value="6"> Otomotif </option>
                </select>
            </div>
    
            <%# search bar request direct page sesuai yang dicari %>
            <form class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit"></button>
    
                <div class="sublogo">
                    <img src="moon_ic_light.svg" id="moon_light">
                </div>
            </form>
    
            <%# access class request direct page sesuai pilihan user login/register %>
            <form class="access">
                <button type="submit" class="login-button"> Log In </button>
                <button type="submit" class="register-button"> Register </button>
            </form>
        </div>
    </body>
    
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    
    <script>
        let flag = true
        $('#moon_light').click(function(){
            if (flag == true) {
                flag = false
                $('#moon_light').attr('src', 'moon_ic_dark.svg');        
            }
            else {
                flag = true
                $('#moon_light').attr('src', 'moon_ic_light.svg');
            }
        });
    </script>
    

        <div class="homepage">
            <div class="flex-container-2">
                <div class="flex-item-2-1">
                    <!-- <%# ini butuh request thumbnail %> -->
                    <img src="796x437.png">
                </div>
                <div class="flex-item-2-2">
                    <div class="flex-item-2-2-1">
                        <!-- <%# ini butuh request judul %> -->
                        <a href="">Komentar Pedas Shin Tae-yong Bikin Kaget Pelatih Thailand Jelang Hadapi Timnas Indonesia di Final Piala AFF 2020</a>
                    </div>
                    <div class="flex-item-2-2-2">
                        <div class="sepak-bola">
                            <!-- <%# ini butuh request kategori berita di "sepak bola"nya %> -->
                            <a href=""><span style="color:#5B75EB">Sepak Bola</span></a> | Sport
                        </div>
                        <div class="tanggal">
                            <!-- <%# ini butuh request tanggal dan jam upload berita %> -->
                            28 Desember 2021 20:49 WIB
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="edusport">
                <p class="font-1">Edu-Sport News</p>
                <div class="edunews">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Sejarah Piala AFF Berdiri Hingga Sekarang</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %> -->
                            <a href="" class="font-2">Sepak Bola</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Kisah di Balik Prestasi 5 Atlet Indonesia, dari Menjadi Buruh Cuci hingga Tukang Lipat Parasut</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %> -->
                            <a href="" class="font-2">Olahraga</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Teknik Pukulan dalam Permainan Bulu Tangkis</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %>  -->
                            <a href="" class="font-2">Bulutangkis</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Bercita-cita Jadi Atlet, Ini lho Masa Depan Cerah yang Menanti!</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %>  -->
                            <a href="" class="font-2">Olahraga</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="homepage-2">
            <div class="bagian-berita">
                <div class="trending-section">
                    <div class="judul-trending">Trending</div>
                    <div class="berita-trending">
                        <div class="kolom-berita">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %>  -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Holywings Janjikan Bonus Rp 1 M Jika Timnas Indonesia Juara Piala AFF</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Candra Wijaya Harap Bulu Tangkis Indonesia Terus Cetak Prestasi di 2024-2028</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">                       
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Trauma AFF 2010 yang Merekah Usai Ketum PSSI Mau Masuk Ruang Ganti Timnas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="terbaru-section">
                    <div class="judul-trending">Terbaru</div>
                    <div class="berita-trending">
                        <div class="kolom-berita">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">5 Srikandi Kalbar di PON Papua Cabang Angkat Besi dan Angkat Berat</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Tim Softball Lampung Optimis Raih Emas di PON Papua 2021</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2">Sepak Bola</a> | <span style="color:#000000">Sport</span></div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Olimpiade 2020: Indonesia Loloskan Wakil di 4 Nomor Cabang Panahan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iklan">
                <!-- <%# ini butuh request iklan (?) %> -->
                <img src="231x896.png">
            </div>
        </div>
        <!-- <%# ini butuh request iklan (?) %> -->
        <div class="iklan-2"><img src="892x228.png"></div>

        <div class="footer-tray">
            <div class="logo-footer">
                <img src="logo_light_mode.svg" width="189px" height="64px">
                <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
            </div>
    
            <%# category tray request direct page sesuai kategori %>
            <div class="category-tray">
                <a href=""> Sepak Bola </a>
                <a href=""> Bulu Tangkis </a>
                <a href=""> Basket </a>
            </div>
    
            <div class="category-tray">
                <a href=""> Bola Voli </a>
                <a href=""> Renang </a>
                <a href=""> Panahan </a>
            </div>
    
            <div class="category-tray">
                <a href=""> Bela Diri </a>
                <a href=""> Angkat Besi </a>
                <a href=""> Otomotif </a>
            </div>
    
            <div class="internal-tc">
                <a href=""> Tentang Kami </a>
                <a href=""> Pusat Bantuan </a>
                <a href=""> Kebijakan & Privasi </a>
            </div>
        </div>
    
    </body>

</html>