
* {
    transition: background-color 0.5s;
    max-width: 100%;
  }

body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #e5e5e5;
    margin: 0;
  }

.home-kategori{
    font-family: Montserrat-B;
}

  a {
      font-weight: 1000;
      text-decoration: none;
      color: black;
  }
  
  a:hover {
    color: #5B75EB;
  }
  
.homepage {
      width: 100%;
      display: flex;
  }
  
.flex-container-2 {
      display: flex;
      background-color: #e5e5e5;
      flex-direction: column;
      margin-left: 18px;
      margin-top: 84px;
  }
  
  /* thumbnail */
  .flex-item-2-1 {
      width: 796px;
      background-color: white;
  }
  
  /* bawahnya thumbnail */
  .flex-item-2-2 {
      display: flex;
      background-color: white;
  }
  
  /* judul berita */
  .flex-item-2-2-1 {
    width: 554px;
    margin-left: 16px;
    margin-top: 2px;
    font-family: Montserrat-B;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    height: 99px;
  }
  
  /* sebelahnya judul berita */
  .flex-item-2-2-2 {
      width: 226px;
      display: flex;
      flex-direction: column;
  }
  
  .sepak-bola {
      height: 16px;
      margin-right: 22px;
      text-align: end;
      font-family: Montserrat-B;
      font-size: 14px;
      margin-top: 2px;
  }
  
  .tanggal {
      height: 15px;
      margin-bottom: 15px;
      margin-top: 48px;
      margin-right: 22px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-align: end;
  }
  
  /* container edusport */
  .edusport {
      display: flex;
      background-color: white;
      flex-direction: column;
      width: 410px;
      margin-left: 29px;
      margin-top: 103px;
      height: 542px;
  }
  
  .font-1 {
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #5B75EB;
      margin-left: 25px;
      margin-top: 20px;
  }
  
  .edusport-news {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
  }
  
  .edunews {
      display: flex;
      margin-top: 20px;
  }
  
  .thumbnail-edu {
      width: 126px;
      height: 77px;
      margin-left: 25px;
      border-radius: 8px;
  }
  
  .berita-edu {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-right: 35px;
  }
  
  .edu-judul-berita {
      width: 219px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
  }
  
  .edu-jenis-berita {
      width: 84px;
      height: 20px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #5B75EB;
      margin-top: 3px;
  }
  
  .edunews-2 {
      display: flex;
      margin-top: 28px;
  }
  
  .homepage-2 {
      width: 100%;
      display: flex;
      flex-direction: row;
  }
  
  .bagian-berita {
      display: flex;
      flex-direction: column;
      height: 896px;
      margin-top: 61px;
      background: #E5E5E5;
      align-items: center;
  }
  
  .iklan {
      margin-top: 61px;
      background: #E5E5E5;
      width: 231px;
      height: 896px;
      margin-left: 60px;
  }
  
  .trending-section {
      display: flex;
      flex-direction: column;
      width: 944px;
      margin-left: 18px;
      background: #FFFFFF;
      border-radius: 8px;
  }
  
  .judul-trending {
      width: 873px;
      margin-left: 36px;
      margin-top: 40px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      color: #5B75EB;
      box-shadow: 0 2px 0 0 black;
  }
  
  .berita-trending {
      width: 873px;
      margin-top: 23px;
      margin-left: 36px;
      display: flex;
  }
  
  .kolom-berita {
      width: 286px;
      display: flex;
      flex-direction: column;
  }
  
  .kolom-berita-2 {
      width: 286px;
      display: flex;
      flex-direction: column;
      margin-left: 7px;
  }
  
  .thumbnail-trending {
      width: 286px;
      height: 171px;
      border-radius: 12px;
  }
  
  .trending-jenis-berita {
      height: 16px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      margin-top: 19px;
  }
  
  .trending-judul-berita {
      width: 286px;
      font-family: Montserrat-B;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      margin-top: 9px;
      padding-bottom: 39px;
  }
  
  .terbaru-section {
      width: 944px;
      margin-left: 18px;
      margin-top: 40px;
      background: #FFFFFF;
      border-radius: 8px;
  }
  
  .iklan-2 {
      width: 892px;
      height: 228px;
      margin-left: 194px;
      margin-top: 57px;
  }
  
  .font-2 {
      font-size: 12px;
      line-height: 15px;
      color: #5B75EB;
  }
  /* Kategori end */