/* Homepage*/
@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat-Bold.ttf');
  }
  
  @font-face {
    font-family: Montserrat-regular;
    src: url('../font/Montserrat-Regular.ttf');
  }
  
  * {
    transition: background-color 0.5s;
    max-width: 100%;
    color: white;
  }
  
  body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #5B75EB;
    margin: 0;
  }

a {
    font-weight: 1000;
    text-decoration: none;
    color: white;
}

a:hover {
  color: black;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pusat-bantuan{
    width: 470px;
    height: 75px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 115px;
    margin-left: 111px;
}
.kotak-register{
    width: 1037px;
    margin-top: 80px;
    margin-left: 111px;
}
.judul{
    width: 1037px;
    padding-bottom: 18px;
    box-shadow: 0 2px 0 0 white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
.isi{
    font-family: Montserrat-regular;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 1037px;
    text-justify: justify;
}
.kotak-lainnya{
    width: 1037px;
    margin-top: 72px;
    margin-left: 111px;
}
.laporkan{
    font-family: Montserrat-regular;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 1037px;
    text-justify: justify;
    margin-bottom: 115px;
}

/* Footer Start */
.footer-tray {
    display: flex;
    /* flex: column wrap; */
    align-items: center;
    background: white;
    /* color: #000000; */
    width: 100vw;
    height: 210px;
    /* left: 2px;
    top: 1090px; */
    /* font-family: Montserrat-regular; */
}
    
    .logo-footer {
    width: 206px;
    height: 96px;
    font-weight: 600;
    margin: 100px 150px 100px 150px;
    background-image: url(/icon/logo_light_mode.svg);
    background-repeat: no-repeat;
    background-size: 200px 64px;
    align-items: center;
    align-self: center;
    }
    
    #rights-footer {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin: 70px 0 0 0;
    }
    
    .category-tray {
    display: flex;
    flex-flow: row wrap;
    width: 80px;
    height: 80px;
    margin: 0 5px 0 50px;
    }
    
    .internal-tc {
    display: flex;
    flex-flow: row wrap;
    margin: 0 50px 0 150px;
    width: 118px;
    height: 80px;
    }
    
    .head {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-decoration: none;
      color: white;
      transition: 0.3s;
    }
  
    .foot {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: black;
      transition: 0.3s;
    }
    
    .head:hover {
      color: black;
      cursor: pointer;
    }
  
    .foot:hover {
        color: #5B75EB;
        cursor: pointer;
    }
    
    #profile-option {
    width: 200px;
    margin-left: 5%;
    border-radius: 0;
    padding: 1%;
    border-style: none;
    border-width: 0;
    background: transparent;
    }
    /* Footer End */
    
    /* Scroll Bar */
    /* width */
    ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #15202B;
    border-radius: 6px
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #15202B;
    border-radius: 6px
    }
    /* Scroll Bar */

/* Navbar start */
.navbar-tray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 82px;
  background-color: #5B75EB;
}

.logo {
  margin: 10px 0 0 0;
  background-image: url(/icon/logo_navbar_tc.svg);
  background-repeat: no-repeat;
  width: 146px;
  height: 50px;
}

.highlight-ctgr {
  display: flex;
  flex-flow: column;
  width: 34%;
  margin: 0 0 0 -5%;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
}

#option {
  font-family: Montserrat;
  font-weight: 600;
  color: white;
}

#option:hover {
  color: black;
  cursor: pointer;
}

ul {
  text-align-last: justify;
}

.highlight-ctgr ul {
  margin-top: 6px;
}

.highlight-ctgr ul>li {
  display: inline-block;
}

.highlight-ctgr a {
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.highlight-ctgr-items {
  font-size: 13px;
  line-height: 16px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  margin: 5% 0 0 0%;
  justify-self: center;
  cursor: pointer;
  -webkit-transition: padding .05s linear;
  -moz-transition: padding .05s linear;
  -ms-transition: padding .05s linear;
  -o-transition: padding .05s linear;
  transition: padding .05s linear;
  transition: 0.3s;
}

#select-sizing {
  width: 120px;
  margin-left: 5%;
  border-radius: 0;
  background: transparent;
  padding: 1%;
  border-style: none;
  border-width: 0;
  position: relative;
  color: white;
}

#select-sizing-user {
  width: 120px;
  margin: 0 0 15px 10px;
  border-radius: 0;
  background: transparent;
  border-style: none;
  border-width: 0;
  position: relative;
  color: white;
}

#user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 30px 0 31px 10px;
  background-image: url(/icon/profile_ic_dark.svg);
  background-repeat: no-repeat;
}

#select-sizing a {
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
  color: white;
}

.dropOut .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  top: -10px;
  left: 50%;
  margin-left: -8px;
}

.arrow-down {
  width: 8px;
  height: 8px;
  margin: -10px 0 0 65px;
  content: url(/icon/arrow_down_right_ic.svg);
}

.arrow-down-user {
  width: 8px;
  height: 8px;
  margin: -10px 0 0 120px;
  content: url(/icon/arrow_down_dark_ic.svg);
}

.dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 72px;
  margin-left: -80px;
  /* half of width */
  top: -400px;
}

.dropOut {
  font-size: 13px;
  width: 160px;
  background: black;
  float: left;
  position: relative;
  margin-top: 0px;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#userid {
  text-align-last: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: white;
}

#userid:hover {
  color: #5B75EB;
  cursor: pointer;
}

.dropOut ul {
  text-align: left;
  float: left;
  padding: 10px 0;
}

.dropOut ul li {
  text-align-last: left;
  float: left;
  width: 125px;
  padding: 12px 0 10px 15px;
  margin: 0px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background .1s ease-out;
  -moz-transition: background .1s ease-out;
  -ms-transition: background .1s ease-out;
  -o-transition: background .1s ease-out;
  transition: background .1s ease-out;
  transition: all .1s ease-in-out;
}

.dropOut ul li:hover {
  background: white;
  color: black;
}

.highlight-ctgr ul li:hover a {
  color: black;
}

.highlight-ctgr ul li:hover .dropdownContain {
  top: 25px;
}

.highlight-ctgr ul li:hover .underline {
  border-bottom-color: #777;
}

.highlight-ctgr ul li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}

.sublogo {
  margin: 30px 0 0 10%;
  width: 16px;
  height: 16px;
}

.access {
  display: flex;
  flex: column wrap;
  justify-content: space-between;
}

.access-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: 600;
}

.access-user-dropdownContain {
  width: 160px;
  position: absolute;
  z-index: 2;
  left: 45px;
  top: 25px;
}

.access-user ul {
  margin-top: 6px;
}

.access-user ul>li {
  display: inline-block;
}

.access-user a {
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.access-user ul li:hover a {
  color: black;
}

.access-user ul li:hover .dropdownContain {
  top: 25px;
}

.access-user ul li:hover .underline {
  border-bottom-color: #777;
}

.access-user ul li:hover .dropOut {
  opacity: 1;
  margin-top: 8px;
}

form.access button {
  width: 68px;
  height: 29px;
  left: 1126px;
  top: 26px;
  margin: 25px 10px 0 0;

  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}

.login-button {
  background: transparent;
  border: 2px solid #000000;
  transition: ease-in-out;
}

.register-button {
  background: black;
  border: none;
  color: #ffffff;
  transition: 0s;
}

.highlight-ctgr-items:hover {
  color: black;
  cursor: pointer;
}

.login-button:hover {
  background: transparent;
  border: solid #ffffff;
  color: #000000;
  cursor: pointer;
}

.register-button:hover {
  background: #ffffff;
  border: solid #5b75eb;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Navbar End */
