<div class="footer-tray">
    <div class="logo-footer">
        <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
    </div>

    <%# category tray request direct page sesuai kategori %>
    <div class="category-tray">
        <a href="/sepakbola" class="foot"> Sepak Bola </a>
        <a href="/bulutangkis" class="foot"> Bulu Tangkis </a>
        <a href="/basket" class="foot"> Basket </a>
    </div>

    <div class="category-tray">
        <a href="/bolavoli" class="foot"> Bola Voli </a>
        <a href="/panahan" class="foot">  Renang </a>
        <a href="/renang" class="foot"> Panahan </a>
    </div>

    <div class="category-tray">
        <a href="/beladiri" class="foot"> Bela Diri </a>
        <a href="/angkatbesi" class="foot"> Angkat Besi </a>
        <a href="/otomotif" class="foot"> Otomotif </a>
    </div>

    <div class="internal-tc">
        <a href="/tentang-kami" class="foot"> Tentang Kami </a>
        <a href="/pusat-bantuan" class="foot"> Pusat Bantuan </a>
        <a href="/kebijakan-privasi" class="foot"> Kebijakan & Privasi </a>
    </div>
</div>
