<div class="footer-tray">
    <div class="logo-footer">
        <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
    </div>

    <%# category tray request direct page sesuai kategori %>
    <div class="category-tray">
        <a href="<%# ke kategori sepak bola %>" class="head-foot-a"> Sepak Bola </a>
        <a href="<%# ke kategori bulu taangkis %>" class="head-foot-a"> Bulu Tangkis </a>
        <a href="<%# ke kategori basket %>" class="head-foot-a"> Basket </a>
    </div>

    <div class="category-tray">
        <a href="<%# ke kategori voli %>" class="head-foot-a"> Bola Voli </a>
        <a href="<%# ke kategori renang %>" class="head-foot-a"> Renang </a>
        <a href="<%# ke kategori panahan %>" class="head-foot-a"> Panahan </a>
    </div>

    <div class="category-tray">
        <a href="<%# ke kategori bela diri %>" class="head-foot-a"> Bela Diri </a>
        <a href="<%# ke kategori angkat besi %>" class="head-foot-a"> Angkat Besi </a>
        <a href="<%# ke kategori otomotif %>" class="head-foot-a"> Otomotif </a>
    </div>

    <div class="internal-tc">
        <a href="<%# ke tentang kami%>" class="head-foot-a"> Tentang Kami </a>
        <a href="<%# ke pusat bantuan %>" class="head-foot-a"> Pusat Bantuan </a>
        <a href="<%# ke Kebijakan & Privasi %>" class="head-foot-a"> Kebijakan & Privasi </a>
    </div>
</div>