<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/footerStyle.css">
</head>

<div class="footer-tray">
    <div class="logo-footer">
        <img src="/styles/img/imgLightMode/logo_light_mode.svg" width=" 200px" height="64px">
        <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
    </div>

    <%# category tray request direct page sesuai kategori %>
    <div class="category-tray">
        <a href="<%# ke kategori sepak bola %>"> Sepak Bola </a>
        <a href="<%# ke kategori bulu taangkis %>"> Bulu Tangkis </a>
        <a href="<%# ke kategori basket %>"> Basket </a>
    </div>

    <div class="category-tray">
        <a href="<%# ke kategori voli %>"> Bola Voli </a>
        <a href="<%# ke kategori renang %>"> Renang </a>
        <a href="<%# ke kategori panahan %>"> Panahan </a>
    </div>

    <div class="category-tray">
        <a href="<%# ke kategori bela diri %>"> Bela Diri </a>
        <a href="<%# ke kategori angkat besi %>"> Angkat Besi </a>
        <a href="<%# ke kategori otomotif %>"> Otomotif </a>
    </div>

    <div class="internal-tc">
        <a href="<%# ke tentang kami%>"> Tentang Kami </a>
        <a href="<%# ke pusat bantuan %>"> Pusat Bantuan </a>
        <a href="<%# ke Kebijakan & Privasi %>"> Kebijakan & Privasi </a>
    </div>
</div>

</html>