<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../../public/css/navigate.css">
</head>

<body>
    <div class="footer-tray">
        <div class="logo-footer">
            <img src="/icon/logo_light_mode.svg" width="189px" height="64px">
            <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
        </div>

        <%# category tray request direct page sesuai kategori %>
        <div class="category-tray">
            <a href=""> Sepak Bola </a>
            <a href=""> Bulu Tangkis </a>
            <a href=""> Basket </a>
        </div>

        <div class="category-tray">
            <a href=""> Bola Voli </a>
            <a href=""> Renang </a>
            <a href=""> Panahan </a>
        </div>

        <div class="category-tray">
            <a href=""> Bela Diri </a>
            <a href=""> Angkat Besi </a>
            <a href=""> Otomotif </a>
        </div>

        <div class="internal-tc">
            <a href=""> Tentang Kami </a>
            <a href=""> Pusat Bantuan </a>
            <a href=""> Kebijakan & Privasi </a>
        </div>
    </div>
    </body>

</body>

</html>