<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/styles/headerRegisterLoginStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar-tray">
        <div class="logo">
            <img src="/styles/img/imgLightMode/logo_light_mode.svg">
        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <ul>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Sepak Bola %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Sepak
                        Bola</a> </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Bulutangkis %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Bulutangkis</a> </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Basket %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Basket</a> </li>
                <li id="select-sizing">
                    <a href="#!" style="color: black;"> Lainnya &nbsp; <img
                            src="/styles/img/imgLightMode/arrow_down_right_ic.svg"> </a>
                    <div class="dropdownContain">
                        <div class="dropOut">
                            <div class="triangle"></div>
                            <ul>
                                <li> <a href="<%# ke kategori voli %>">Voli</a>
                                </li>
                                <li> <a href="<%# ke kategori Panahan %>">Panahan</a> </li>
                                <li> <a href="<%# ke kategori Renang %>">Renang</a> </li>
                                <li> <a href="<%# ke kategori Bela Diri %>">Bela Diri</a> </li>
                                <li> <a href="<%# ke kategori Angkat Besi %>">Angkat Besi</a> </li>
                                <li> <a href="<%# ke kategori Otomotif %>">Otomotif</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <%# search bar request direct page sesuai yang dicari %>
        <form class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>

            <div class="sublogo">
                <img src="/styles/img/imgLightMode/moon_ic_light.svg" id="moon_light">
            </div>
        </form>

        <%# access class request direct page sesuai pilihan user login/register %>
        <form class="access">
            <button type="submit" class="login-button"> Log In </button>
            <button type="submit" class="register-button"> Register </button>
        </form>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    let flag = true
    $('#moon_light').click(function () {
        if (flag == true) {
            flag = false
            $('#moon_light').attr('src', 'moon_ic_dark.svg');
        } else {
            flag = true
            $('#moon_light').attr('src', 'moon_ic_light.svg');
        }
    });
</script>

</html>