    <title>Homepage SportID  Dark Mode</title>
    <style>
        body{
            margin: 0%;
            background-color: #161e27;
            color: white;
        }
        @font-face{
            font-family: Montserrat;
            src: url('/font/Montserrat-Bold.ttf');
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/homepageDark.css" />
