<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../../public/css/navigate.css">
</head>

<body>
    <div class="navbar-tray">
        <div class="logo">
            <img src="../../public/icon/logo_light_mode.svg">
        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <button class="highlight-ctgr-items"> Sepak Bola </button>
            <button class="highlight-ctgr-items"> Bulutangkis </button>
            <button class="highlight-ctgr-items"> Basket </button>
            <select id="select-sizing">
                <option selected hidden> Lainnya </option>
                <option value="1"> Voli </option>
                <option value="2"> Panahan </option>
                <option value="3"> Renang </option>
                <option value="4"> Bela Diri </option>
                <option value="5"> Angkat Besi </option>
                <option value="6"> Otomotif </option>
            </select>
        </div>

        <%# search bar request direct page sesuai yang dicari %>
        <form class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"></button>

            <div class="sublogo">
                <img src="../../public/icon/moon_ic_light.svg" id="moon_light">
            </div>
        </form>

        <%# access class request direct page sesuai pilihan user login/register %>
        <form class="access">
            <button type="submit" class="login-button"> Log In </button>
            <button type="submit" class="register-button"> Register </button>
        </form>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script>
    let flag = true
    $('#moon_light').click(function(){
        if (flag == true) {
            flag = false
            $('#moon_light').attr('src', 'moon_ic_dark.svg');        
        }
        else {
            flag = true
            $('#moon_light').attr('src', 'moon_ic_light.svg');
        }
    });
</script>

</html>