<!DOCTYPE html>

<html>

<head>
    <title> Welcome, <%# request nama user sebagai title %> </title>
</head>

<body>
    <div class="navbar-tray">
        <div class="logo">

        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <ul>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Sepak Bola %>" class="head-foot-a">Sepak
                        Bola</a> </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Bulutangkis %>"
                        class="head-foot-a">Bulutangkis</a>
                </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Basket %>" class="head-foot-a">Basket</a>
                </li>
                <li id="select-sizing">
                    <a href="#!" class="lainnya"> Lainnya &nbsp;
                        <div class="arrow-down"></div>
                    </a>
                    <div class="dropdownContain">
                        <div class="dropOut">
                            <div class="triangle"></div>
                            <ul>
                                <li> <a href="<%# ke kategori voli %>" class="head-foot-a">Voli</a>
                                </li>
                                <li> <a href="<%# ke kategori Panahan %>" class="head-foot-a">Panahan</a> </li>
                                <li> <a href="<%# ke kategori Renang %>" class="head-foot-a">Renang</a> </li>
                                <li> <a href="<%# ke kategori Bela Diri %>" class="head-foot-a">Bela Diri</a> </li>
                                <li> <a href="<%# ke kategori Angkat Besi %>" class="head-foot-a">Angkat Besi</a> </li>
                                <li> <a href="<%# ke kategori Otomotif %>" class="head-foot-a">Otomotif</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <%# search bar request direct page sesuai yang dicari %>
        <form class="search-bar">
            <input type="search" placeholder="Search...">
            <button type="submit"> </button>

            <div class="sublogo">
                <div id="moon_light"></div>
            </div>
        </form>


        <div class="access">
            <%# request profile pict from database %>
            <div class="profile_logo" id="user">

            </div>
            <select id="profile-option">
                <option selected hidden value="0"> <%= User.name %>
                </option>
                <%# request direct page to chosen options %>
                <option value="1" style="background-color: black; color: white;"> <i class="fas fa-edit"></i>
                    Ubah Profile
                </option>
                <br>
                <option value="2" style="background-color: black; color: white;">
                    Keluar
                </option>
            </select>
        </div>
    </div>
</body>

</html>