<!DOCTYPE html>

<html>

<head>

</head>

<body>
    <div class="navbar-tray">
        <div class="logo">
        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <ul>
                <li class="highlight-ctgr-items" id="option"> Tentang Kami </li>
                <li class="highlight-ctgr-items" id="option"> Pusat Bantuan </li>
                <li class="highlight-ctgr-items" id="option"> Kebijakan dan Privasi </li>
            </ul>
        </div>

        <%# access class request direct page sesuai pilihan user login/register %>
        <form class="access">
            <button type="submit" class="login-button"> Log In
            <button type="submit" class="register-button"> Register
        </form>
    </div>
</body>

</html>