<!DOCTYPE html>

<html>

<head>

</head>

<body>
    <div class="navbar-tray">
        <div class="logo">
        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <ul>
                <li class="highlight-ctgr-items" id="option"><a href="/tentang-kami"> Tentang Kami </a></li>
                <li class="highlight-ctgr-items" id="option"><a href="/pusat-bantuan"> Pusat Bantuan </a>  </li>
                <li class="highlight-ctgr-items" id="option"><a href="/kebijakan-privasi"> Kebijakan dan Privasi </a> </li>
            </ul>
        </div>

        <%# access class request direct page sesuai pilihan user login/register %>
        <form class="access">
            <button type="submit" class="login-button"> Log In
            <button type="submit" class="register-button"> Register
        </form>
    </div>
</body>

</html>