<!DOCTYPE html>

<html>

<head>
    <title> Welcome, <%# request nama user sebagai title %> </title>
    <link rel="stylesheet" href="/styles/headerProfilePageStyle.css">
</head>

<body>
    <div class="navbar-tray">
        <div class="logo">
            <img src="/styles/img/imgLightMode/logo_light_mode.svg">
        </div>

        <%# highlight category tray request direct page sesuai kategori %>
        <div class="highlight-ctgr">
            <ul>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Sepak Bola %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Sepak
                        Bola</a> </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Bulutangkis %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Bulutangkis</a> </li>
                <li class="highlight-ctgr-items"> <a href="<%# ke kategori Basket %>"
                        style="color: black; font-weight: 550; font-size: 14px;">Basket</a> </li>
                <li id="select-sizing">
                    <a href="#!" style="color: black;"> Lainnya &nbsp; <img
                            src="/styles/img/imgLightMode/arrow_down_right_ic.svg"> </a>
                    <div class="dropdownContain">
                        <div class="dropOut">
                            <div class="triangle"></div>
                            <ul>
                                <li> <a href="<%# ke kategori voli %>">Voli</a>
                                </li>
                                <li> <a href="<%# ke kategori Panahan %>">Panahan</a> </li>
                                <li> <a href="<%# ke kategori Renang %>">Renang</a> </li>
                                <li> <a href="<%# ke kategori Bela Diri %>">Bela Diri</a> </li>
                                <li> <a href="<%# ke kategori Angkat Besi %>">Angkat Besi</a> </li>
                                <li> <a href="<%# ke kategori Otomotif %>">Otomotif</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <%# search bar request direct page sesuai yang dicari %>
        <form class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>

            <div class="sublogo">
                <img src="/styles/img/imgLightMode/moon_ic_light.svg" id="moon_light">
            </div>
        </form>


        <div class="access">
            <%# request profile pict from database %>
            <div class="sublogo">
                <img src="/styles/img/imgLightMode/profile_ic_light.svg" width="20px" height="20px"
                    style="border-radius: 50%;">
            </div>
            <select id="profile-option">
                <option selected hidden value="0"> Nama User <%# request nama user from database %>
                </option>
                <%# request direct page to chosen options %>
                <option value="1" style="background-color: black; color: white;"> <i class="fas fa-edit"></i>
                    Ubah Profile
                </option>
                <br>
                <option value="2" style="background-color: black; color: white;">
                    Keluar
                </option>
            </select>
        </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

<script>
    let flag = true
    $('#moon_light').click(function () {
        if (flag == true) {
            flag = false
            $('#moon_light').attr('src', 'styles/img/imgLightMode/moon_ic_dark.svg');
        } else {
            flag = true
            $('#moon_light').attr('src', 'styles/img/imgLightMode/moon_ic_light.svg');
        }
    });
</script>

</html>