        <title>Homepage SportID</title>
        <style>
            body{
                margin: 0%;
                background-color: #E5E5E5;
            }
            @font-face{
                font-family: Montserrat;
                src: url('/font/Montserrat-Bold.ttf');
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/css/homepageLight.css" />
    