<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" id="styles" type="text/css" href="/css/admin-user.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    </head>

    <body>
        <div class="sidebar">
            <div class="logo-sidebar"></div>
            <div class="bar">
                <a href="#" class="bar-item bar-button">Profile</a>
                <a href="#" class="bar-item bar-button">User</a>
                <a href="#" class="bar-item bar-button">News</a>
              </div>
        </div>
        <div class="admin-user">
            <div class="kolom-atas">
                <div class="pengaturan">Pengaturan User</div>
                <div class="profil">
                    <div class="logo-profil"></div>
                    <div class="nama-profil">
                        <div class="nama-adminnya">
                            <!-- request nama admin -->
                            Nama
                        </div>
                        <div class="detail">Lihat detail</div>
                    </div>
                </div>
            </div>
            <div class="kolom-putih">
                <div class="akun-user">Akun User</div>
                <div class="table">
                    <table>
                        <tr>
                          <th>ID</th>
                          <th>Nama</th>
                          <th>Email</th>
                          <th>No. Telepon</th>
                          <th>Kata Sandi</th>
                          <th>Created At</th>
                          <th>Update At</th>
                        </tr>
                        
                        <tr>
                          <td>
                              <!-- request ID user -->
                              1
                          </td>
                          <td>
                              <!-- request nama user -->
                              nama
                          </td>
                          <td>
                            <!-- request email user -->
                          </td>
                          <td>
                            <!-- request no telepon user -->
                          </td>
                          <td>
                            <!-- request kata sandi user -->
                          </td>
                          <td>
                            <!-- request created at -->
                          </td>
                          <td>
                            <!-- request update at -->
                          </td>
                        </tr>
                        
                </div>
            </div>
        </div>
    </body>
</html>