<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COBA KOMEN</title>
</head>
<body>
  <!-- FORM UNTUK MENCOBA KOLOM KOMENTAR, BISA DIGANTI DESAINNYA OLEH TIM FrontEnd -->
    <form action="/comments" method="post">
        <div class="container-fluid py-5">
          <div class="container">
    
            <div class= "coloumn">
              <!-- Kolom Komen -->
              <div class="row-lg-10" style=" text-align: center;">
                <input type="text" name="Komentar" class="form-control" placeholder="ISI KOMEN" aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn btn-primary" style="background-color: #51659b;" type="submit">SUBMIT</button>
              </div>
            </div>
    
    
    
          </div>
        </div>
      </form>
</body>
</html>