<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="styles" type="text/css" href="/css/light.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <style rel="stylesheet" type="text/css">
        body {
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            background-color: #e5e5e5;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: background-color 0.5s;
            max-width: 100%;
        }
        a {
            text-decoration: none!important;
            color: #000000;
        }
        a:hover {
            color: #5B75EB;
        }
        .formulir {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    </style>
    <title>Forgot Password</title>
</head>

<body>
    <header>
        <%- include('../partial/header', {loggedName}, {loggedNameAdmin}) %>
    </header>
    <div class="container-fluid formulir">
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
                <form action="/reset-password/success" method="post">
                    <div class="col-auto" style="margin-bottom: 10px; color: #5B75EB; font-size: 14px;">
                        <strong>Setelah kirim, silakan cek di folder spam Anda</strong>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-md">
                            <input type="email" class="form-control" name="email" 
                            title="Tolong cek pada folder spam Anda" placeholder="Masukkan Email">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <footer class="fixed-bottom">
        <%- include('../partial/footer') %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        var flag = localStorage.getItem('flag');
        $('#moon_light').click(function () { // Switching between light and dark mode 
            if (flag) {
                flag = false
                $('#moon_light').attr('src', '/icon/moon_ic_dark.svg');
                $('link#styles').attr('href', '/css/dark.css');
                localStorage.setItem('flag', false);
            } else {
                flag = true
                $('#moon_light').attr('src', '/icon/moon_ic_light.svg');
                $('link#styles').attr('href', '/css/light.css');
                localStorage.setItem('flag', true);
            }
        });

        $('.logo').click(function () {
            window.location.href = '/' /* requesting redirect page on logo click */
        })

        $('.logo-footer').click(function () {
            window.location.href = '/' /* requesting redirect page on logo click */
        })

        // PERLU TINJAU ULANG JS UNTUK CLICK LOGIN DAN REGISTER //

        $('.login-button').click(function () {
            window.location.href = '/login'
            return false
        })

        $('.register-button').click(function () {
            window.location.href = '/register'
            return false
        })
    </script>
</body>

</html>