<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" id="styles" type="text/css" href="/css/light.css">
    </head>

    <header>
        <%- include('../partial/header') %>
    </header>

    <body>  
        <div class="homepage">
            <div class="flex-container-2">
                <div class="home-kategori">
                    <!-- a href untuk kembali ke homepage -->
                    <a href="">Home</a> > <span style="color: #5B75EB;">Otomotif</span>
                </div>
                <div class="flex-item-2-1">
                    <!-- <%# ini butuh request thumbnail %> -->
                    <a href=""><img src="/images/796x437.png"></a> 
                </div>
                <div class="flex-item-2-2">
                    <div class="flex-item-2-2-1">
                        <!-- <%# ini butuh request judul %> -->
                        <a href="">Timnas Indonesia Kalah Telak 4-0 dari Thailand di Leg I Final Piala AFF 2020
                        </a>
                    </div>
                    <div class="flex-item-2-2-2">
                        <div class="sepak-bola">
                            <!-- <%# ini butuh request kategori berita di "sepak bola"nya %> -->
                            <a href=""><span style="color:#5B75EB">Otomotif</span></a> | Sport
                        </div>
                        <div class="tanggal">
                            <!-- <%# ini butuh request tanggal dan jam upload berita %> -->
                            28 Desember 2021 20:49 WIB
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="edusport">
                <p class="font-1">Edu-Sport News</p>
                <div class="edunews">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="/images/126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Sejarah Piala AFF Berdiri Hingga Sekarang</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %> -->
                            <a href="" class="font-2">Otomotif</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="/images/126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Kisah di Balik Prestasi 5 Atlet Indonesia, dari Menjadi Buruh Cuci hingga Tukang Lipat Parasut</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %> -->
                            <a href="" class="font-2">Otomotif</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="/images/126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Teknik Pukulan dalam Permainan Bulu Tangkis</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %>  -->
                            <a href="" class="font-2">Otomotif</a>
                        </div>
                    </div>
                </div>
                <div class="edunews-2">
                    <div class="thumbnail-edu">
                        <!-- <%# ini butuh request thumbnail %> -->
                        <img src="/images/126x77.png">
                    </div>
                    <div class="berita-edu">
                        <div class="edu-judul-berita">
                            <!-- <%# ini butuh request judul %> -->
                            <a href="">EduSport : Bercita-cita Jadi Atlet, Ini lho Masa Depan Cerah yang Menanti!</a>
                        </div>
                        <div class="edu-jenis-berita">
                            <!-- <%# ini butuh request kategori %>  -->
                            <a href="" class="font-2">Otomotif</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="homepage-2">
            <div class="bagian-berita">
                <div class="trending-section">
                    <div class="judul-trending">Trending</div>
                    <div class="berita-trending">
                        <div class="kolom-berita">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %>  -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Holywings Janjikan Bonus Rp 1 M Jika Timnas Indonesia Juara Piala AFF</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Jadwal Final Liga 2 2021 - RANS Cilegon FC vs Persis Solo, Duel Klub Sultan Berebut Status Jawara</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">                       
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Trauma AFF 2010 yang Merekah Usai Ketum PSSI Mau Masuk Ruang Ganti Timnas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="terbaru-section">
                    <div class="judul-trending">Terbaru</div>
                    <div class="berita-trending">
                        <div class="kolom-berita">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Persija Jakarta Kenalkan Makan Konate dan 3 Pemain Baru</a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Apa Timnas Indonesia Bisa Balas Kekalahan Telak dari Thailand? Ini Jawaban Shin Tae-yong
                                </a>
                            </div>
                        </div>
                        <div class="kolom-berita-2">
                            <div class="thumbnail-trending">
                                <!-- <%# ini butuh request thumbnail %> -->
                                <img src="/images/286x171.png">
                            </div>
                            <div class="trending-jenis-berita">
                                <!-- <%# ini butuh request kategori %> -->
                                <a href="" class="font-2"><span style="color:#5B75EB">Otomotif</span></a> | Sport</div>
                            <div class="trending-judul-berita">
                                <!-- <%# ini butuh request judul %> -->
                                <a href="">Hasil Undian Piala AFF U-23 2022 - Timnas Indonesia Segrup dengan Malaysia, Vietnam Masuk Grup Berat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iklan">
                <!-- <%# ini butuh request iklan (?) %> -->
                <img src="/images/231x896.png">
            </div>
        </div>
        <!-- <%# ini butuh request iklan (?) %> -->
        <div class="iklan-2"><img src="/images/892x228.png"></div>    
    </body>

    <footer>
        <%- include('../partial/footer') %>
    </footer>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

    <script>
        let flag = true
        $('#moon_light').click(function () {
            if (flag == true) {
                flag = false
                $('#moon_light').attr('src', '/icon/moon_ic_dark.svg');
                $('link#styles').attr('href', '/css/dark.css');
            } else {
                flag = true
                $('#moon_light').attr('src', '/icon/moon_ic_light.svg');
                $('link#styles').attr('href', '/css/light.css');
            }
        });
    </script>
</html>