<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" id="styles" type="text/css" href="/css/pusat-bantuan.css">
    </head>

    <header>
        <%- include('../partial/header-post-tnc') %>
    </header>

    <body>
        <div class="pusat-bantuan">Pusat Bantuan</div>
        <div class="kotak-register">
            <div class="judul">Register / Daftar Akun</div>
            <div class="isi">
                <p>Anda dapat melakukan proses register menggunakan akun email anda dan nomor HP. Berikut cara mendaftar akun di Sport ID:</p>
                <ol>
                    <li>Pada halaman utama, pilih "Register" pada pojok kanan atas</li>
                    <li>Masukkan email dan nomor HP yang ingin didaftarkan</li>
                    <li>Masukkan kata sandi untuk keamanan akun Anda</li>
                    <li>Centang syarat dan ketentuan, lalu klik register</li>
                    <li>Anda telah memiliki akun Sport ID</li>
                </ol>
            </div>
        </div>

        <div class="kotak-lainnya">
            <div class="judul">Log In / Masuk Akun</div>
            <div class="isi">
                <p>Anda dapat melakukan login dengan menggunakan akun Sport ID yang telah melakukan proses registrasi atau pendaftaran. Berikut cara log in akun di Sport ID:</p>
                <ol>
                    <li>Pada halaman utama, pilih “Log In” pada pojok kanan atas</li>
                    <li>Masukkan email atau nomor hp yang telah didaftarkan, lalu masukkan kata sandi yang benar</li>
                    <li>Klik “Log In”</li>
                    <li>Anda sudah masuk dengan akun Sport ID</li>
                </ol>
            </div>
        </div>

        <div class="kotak-lainnya">
            <div class="judul">Ubah Profil</div>
            <div class="isi">
                <p>Pada halaman profile, pengguna dapat memberikan pengaturan pada beberapa hal terkait profile. Berikut ini cara pengaturan akun profile di Sport ID:</p>
                <ol>
                    <li>Pada halaman home, pilih menu profile yang terdapat nama akun anda pada pojok kanan atas</li>
                    <li>Klik tombol panah ke bawah, lalu pilihlah menu ubah profile</li>
                    <li>Pada halaman ubah profile terdapat tampilan data profile anda seperti nama akun, email, dan nomor HP</li>
                    <li>Anda dapat mengubah data profile anda dengan mengklik form yang ada data diri anda</li>
                    <li>Kemudian setelah data profile anda telah dirubah, pilih button simpan perubahan</li>
                    <li>Selamat, data profile anda telah berubah</li>
                </ol>
            </div>
        </div>

        <div class="kotak-lainnya">
            <div class="judul">Komentar</div>
            <div class="isi">
                <p>Berikut cara memberikan komentar pada sebuah berita :</p>
                <ol>
                    <li>Pada laman berita, klik <img src="icon/comments-ic-dark.svg" width="2%" height="2%"/> </li> 
                    <li>Laman akan scroll otomatis pada bagian komentar</li>
                    <li>Anda dapat menulis komentar pada berita tersebut</li>
                </ol>
            </div>
        </div>

        <div class="kotak-lainnya">
            <div class="judul">Laporan Berita</div>
            <div class="laporkan">
                <p>Anda dapat melakukan pelaporan kepada berita dengan fitur laporkan berita. Berikut cara melaporkan sebuah berita : </p>
                <ol>
                    <li>Pada sebuah berita, pilih “Laporkan Berita”</li>
                    <li>Silahkan pilih atau beri alasan mengapa Anda melaporkan berita tersebut</li>
                    <li>Jika sudah, klik “Laporkan”</li>
                    <li>Lalu pilih “Yakin” jika Anda sudah yakin dengan laporan ini</li>
                    <li>Laporan Anda terkirim</li>
                    <li>Sport ID akan memproses laporan tersebut dan mengambil tindakan lebih lanjut untuk meningkatkan pengalaman membaca yang lebih baik</li>
                </ol>
            </div>
        </div>
    </body>

    <footer>
        <%- include('../partial/footer') %>
    </footer>

</html>