<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body>
    <header><%- include ('../partial/header') %></header>

    <%- include('../partial/contentregister.ejs'); %>

    <footer><%- include ('../partial/footer') %></footer>

    <!--Dark Mode-->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

    <script>
      let flag = true;
      $('#moon_light').click(function () {
        /* Switching between light and dark mode */ if (flag == true) {
          flag = false;
          $('#moon_light').attr('src', '/icon/moon_ic_dark.svg');
          $('#styling').attr('href', '/css/register-dark.css');
          $('.stylingheader').attr('href', '/css/dark.css');
          $('.logo_register').attr('src', '/icon/logo_dark_mode.svg');
        } else {
          flag = true;
          $('#moon_light').attr('src', '/icon/moon_ic_light.svg');
          $('#styling').attr('href', '/css/register-light.css');
          $('.stylingheader').attr('href', '/css/light.css');
          $('.logo_register').attr('src', '/icon/logo_light_mode.svg');
        }
      });
    </script>
  </body>
</html>
