<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="footer-tray">
        <div class="logo-footer">
            <p id="rights-footer">© 2021 SportID.COM, All Right Reserved</p>
        </div>
    
        <%# category tray request direct page sesuai kategori %>
        <div class="category-tray">
            <a href="/sepakBola" class="head-foot-a"> Sepak Bola </a>
            <a href="/buluTangkis" class="head-foot-a"> Bulu Tangkis </a>
            <a href="/basket" class="head-foot-a"> Basket </a>
        </div>
    
        <div class="category-tray">
            <a href="/bolaVoli" class="head-foot-a"> Bola Voli </a>
            <a href="/renang" class="head-foot-a"> Renang </a>
            <a href="/panahan" class="head-foot-a"> Panahan </a>
        </div>
    
        <div class="category-tray">
            <a href="/belaDiri" class="head-foot-a"> Bela Diri </a>
            <a href="/angkatBesi" class="head-foot-a"> Angkat Besi </a>
            <a href="/otomotif" class="head-foot-a"> Otomotif </a>
        </div>
    
        <div class="internal-tc">
            <a href="/tentangkami" class="head-foot-a"> Tentang Kami </a>
            <a href="/pusatbantuan" class="head-foot-a"> Pusat Bantuan </a>
            <a href="/kebijakanprivasi" class="head-foot-a"> Kebijakan & Privasi </a>
        </div>
    </div>
    
    <script>
        $(function () {
      $('.password-show').click(function (event) {
        $(this).toggleClass('fa-eye-slash fa-eye');
        var x = $('.input-control').attr('type');
        if (x == 'text') {
          $('.input-control').attr('type', 'password');
        } else {
          $('.input-control').attr('type', 'text');
        }
      });
    });
    </script>
</body>
</html>
