<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style type="text/css">
        body {
            background: #2c2c2c;
        }
    </style>
    <title>New blog post</title>
</head>

<body>

    <div class="container">
        <h1 class="mb-4 text-white">New blog post</h1>

        <form action="/admin/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">

                <label for="title" class="text-white">Title</label>
                <input type="text" class="form-control" placeholder="Judul Berita" name="judul" required>
            </div>

            <div class="form-group">
                <select class="form-control" id="" name="author">
                    <option selected hidden>Pilih Author</option>
                    <% dbAdmin.forEach(rows => { %>
                    <option><%= rows.nama %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form=group">
                <input type="text" class="form-control" placeholder="Kategori Berita" name="kategori" required>
            </div>
            <div class="form-group">

                <label for="description" class="text-white">Description</label>
                <textarea name="isi" placeholder="Isi Berita" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="image" class="text-white">Upload image</label>
                <input type="file" name="imageBerita" id="image" class="form-control-file text-white" required>
            </div>

            <div class="form-group">
                <a href="/" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</body>

</html>