* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 16px;
    font-family: "Montserrat";
}

body {

    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Montserrat";
}

/* <------------------- Start Kotak Profile Page --------------------> */

.kotak-profile {
    width: 500px;
    background-color: white;
    margin: 220px auto auto auto;
    padding: 30px 60px;
    left: auto;
    right: auto;
    font-family: "Montserrat";
}

.par2 {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 50px;
    border-bottom: 1.5px solid black;
    border-width: 0 0 1.5px;
    border-style: solid;
    font-family: "Montserrat";
}

.ganti-nama {
    box-sizing: border-box;
    display: grid;
    border: none;
    border-bottom: 1.5px solid black;
    width: 300px;
    padding: 5px;
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Montserrat";
}

.ganti-email {
    box-sizing: border-box;
    display: grid;
    border: none;
    border-bottom: 1.5px solid black;
    width: 300px;
    padding: 5px;
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Montserrat";
}

.ganti-nomorhp {
    box-sizing: border-box;
    display: grid;
    border: none;
    border-bottom: 1.5px solid black;
    width: 300px;
    padding: 5px;
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Montserrat";
}

label {
    color: #4169E1;
    padding: 1px;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-family: "Montserrat";
}

form .input-icon {
    position: relative;
    font-family: "Montserrat";
}

form input+i {
    position: absolute;
    left: 25px;
    top: 10px;
    color: black;
}

form input:focus {
    border: 1px solid #0099ff;
    color: #000
}

form input:focus+i {
    color: #0099ff;
}

.tombol-simpan-perubahan {
    background: #4169E1;
    color: white;
    display: grid;
    font-size: 18px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-radius: 3px;
    padding: 5px 0;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Montserrat";
    ;
}

.balik-beranda {
    text-align: center;
    margin: auto;
    display: grid;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    width: auto;
    font-size: 13.5px;
    padding-bottom: 20px;
    font-family: "Montserrat";
}

/* <------------------- End Kotak Profile Page --------------------> */