<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/navigate.css">
        <title> This Is Homepage </title>
    </head>

    <body>
        <header>
            <%- include ('./partial/header') %>
        </header>

        <br>

        <header>
            <%- include ('./partial/header-post') %>
        </header>

        <br>
        
        <footer>
            <%- include ('./partial/footer') %>
        </footer>
    </body>
</html>