<!DOCTYPE html>

<html>
    <head>
        <title> This Is Homepage </title>
    </head>

    <body>
        <header>
            <%- include ('./partial/header') %>
        </header>
        
        <footer>
            <%- include ('./partial/footer') %>
        </footer>
    </body>
</html>