<!DOCTYPE html>

<html>
    <head>
        <link href="css/navigate.css" rel="stylesheet">
        <title> This Is Homepage </title>
    </head>

    <body>
        <header>
            <%- include ('./partial/header') %>
        </header>
        
        <footer>
            <%- include ('./partial/footer') %>
        </footer>
    </body>
</html>