<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba Laporan</title>
</head>
<body>
    <!-- COBA KOLOM LAPORAN, DESAIN BISA DIGANTI OLEH TIM FE -->
    <!-- <form action="/laporan" method="post">
        <div class="mb-3">
            <label class="form-label">Coba Laporan</label>
            <select name="Laporan" id="disabledSelect" class="form-select">
                <option>Rasis</option>
                <option>Hoax</option>
                <option>Tidak Relevan</option>
                <option>Penghinaan</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form> -->

    <form action="/laporan" method="post">
        <div class="container-fluid py-5">
          <div class="container">
    
            <div class= "coloumn">
              <!-- Kolom Komen -->
              <div class="row-lg-10" style=" text-align: center;">
                <input type="text" name="Report" class="form-control" placeholder="ISI KOMEN" aria-label="Username" aria-describedby="basic-addon1">
                <button class="btn btn-primary" style="background-color: #51659b;" type="submit">SUBMIT</button>
              </div>
            </div>
    
    
    
          </div>
        </div>
      </form>
</body>
</html>